.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

body,
html,
#root {
  height: 100%;
}

.todo-form {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 40%;
  background-color: transparent;
}
.title{
  top: 10%;
  align-items: center;
  position: absolute;
  
}
.List{
  height: 5vh;
  position: relative;
 
}
.Listitems{
  width: 100%;
}


.li {
  
  position: absolute;
  text-align: initial;
}

.xBtn{
  background-color: blue;
  text-decoration: none;
}
.xBtn :hover{
  background-color: transparent;
  box-shadow: none;
  text-decoration: none;
  text-shadow: none;

}
.bigXBtn :hover{
  background-color: rgba(211, 211, 211, .2);
  border-radius: 10%;
  box-shadow: none;
}
.smallXBtn{
  background-color: green;
}
.smallXBtn :hover{

  background-color: black;
}

.PrivateSwitchBase-input-4{
  background-color: black;
}