.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body,
html,
#root {
  height: 100%;
}

.title{
  top: 10%;
  align-items: center;
  position: absolute; 
}

.List{
  height: 5vh;
  position: relative;
}

.PrivateSwitchBase-input-4{
  background-color: black;
}